.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: linear-gradient(#282c34, #282c3400);
  font-family: 'Fredoka One', cursive;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
  position: fixed;
  top: 0;
  width: 100%;
}
.contentBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10em;
}
.box {
  width: 30em;
  height: 30em;
  border: 3px solid rgb(132, 90, 248);
  background-color: rgba(238, 236, 236, 0.575);
  margin: 1em;
  border-radius: 10px;
}
.VCInput {
  width: 70%;
  height: 20vh;
  border: 3px solid rgb(132, 90, 248);
  border-radius: 10px;
  font-size: 1.2em;
  margin: 0 auto;
}
.VCCont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.VCSubmit {
  width: 30%;
  height: 4vh;
  border: 3px solid rgb(132, 90, 248);
  border-radius: 10px;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.VCCount {
  font-size: 3.2em;
  font-family: 'Fredoka One', cursive;
  color: #413b47;
}
.VCCountSmall {
  font-size: 2.2em;
  font-family: 'Fredoka One', cursive;
  color: #413b47;
}
.MillenialString {
  font-size: 2.2em;
  font-family: 'Fredoka One', cursive;
  color: #413b47;
}
h2 {
  color: #413b47;
  font-family: 'Fredoka One', cursive;
  font-size: 2.2em;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
/* .lightButton {
  border: 1px solid black;
  width: 5vw;
  height: 3vh;
} */
.lightBtn {
  padding: 0.8em 0em;
  width: 350px;
  background: #e2e2f0;
  border-radius: 15px;
  border: 2px solid rgb(161, 161, 167);
  color: rgb(161, 161, 167);
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;

  text-transform: uppercase;
}
.darkBtn {
  padding: 0.8em 0em;
  width: 350px;
  background: #303032;
  border-radius: 15px;
  border: 2px solid rgb(161, 161, 167);
  color: rgb(161, 161, 167);
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;

  text-transform: uppercase;
}
.buttonContainer {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}
.lightBtn:hover,
.darkBtn:hover {
  animation: bounce 1s;
  -webkit-animation: bounce 1s;
}
.callBtn {
  padding: 0.8em 0em;
  width: 350px;
  background: rgb(132, 90, 248);
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
@keyframes bounce {
  0% {
    border-radius: 15px;
  }
  20% {
    border-radius: 20px;
  }
  60% {
    border-radius: 10px;
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
  }
  90% {
    transform: scale(0.98);
    -ms-transform: scale(0.98); /* IE 9 */
    -webkit-transform: scale(0.98); /* Safari and Chrome */
  }
  100% {
    border-radius: 15px;
  }
}

@-webkit-keyframes bounce {
  0% {
    border-radius: 15px;
  }
  20% {
    border-radius: 20px;
  }
  60% {
    border-radius: 10px;
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
  }
  90% {
    transform: scale(0.98);
    -ms-transform: scale(0.98); /* IE 9 */
    -webkit-transform: scale(0.98); /* Safari and Chrome */
  }
  100% {
    border-radius: 15px;
  }
}
